body {
    background-color: rgb(175, 213, 223);
    margin: auto;
    width: 65%;
    padding-top: 30px;
   
    font-size: 1.5em;

}
h1, h3 {
    font-family: 'Ruge Boogie', cursive;
    font-kerning: normal;
}
h1{
    font-size: 3em;
}

button{
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    color: rgb(73, 147, 165);
    border-radius: 15px;
    background-color: rgb(247, 233, 40);
    margin: 10px;
    font-family: 'Dosis', sans-serif;

}