body {
    font-size: 1.12em;
    color: gray;
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    background-color: #ccc;
    border: 2px solid black;
    border-collapse: collapse;
}
tr, th, td {
    border: 1px solid rgb(68, 62, 66);
    padding: 5px;
}
th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    font-variant: small-caps;
}
td{
    font-family: Arial, Helvetica, sans-serif;
}
.dark{
    background-color: rgb(32, 83, 49);
    color: white;
}
h1{
    font-variant: small-caps;
}
p{padding-top: 25px;}
a{
    text-decoration: none;
    color: rgb(216, 98, 157);
    
}
a:hover{
    font-size: 1.2;
    font-weight: bold;
}
